html,
body{
    overflow-x: hidden;
}


.containerrrrr{  padding-top: 20px;
    padding-bottom: 20px;}
  
  
  .background-img{
    background-image: url("../images/anim-back.jpg");
    height: 42vw;
    width: 74vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
    padding:20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
  }
  
  .contenttt h2{ font-size:19px;}
  
  .boox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    height: 23vw;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .boox:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .boox:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .boox .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .boox span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .boox span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .boox span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .boox span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .boox span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .boox span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
  
  
  
  
  
#rootttt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerrrr{
    width: 100%;
    position:fixed;
    bottom:0px;
    z-index: 1030;
    /* left:50%; */
}

.cat{
    width: 400px;
    height: 200px;
    margin: 50px auto 0;
}

.move{
    animation: move-animation 20s infinite;
}

/* .walking{
    animation: walk-animation 2s steps(12) infinite;
    background: url("catwalk.png") 0 0 no-repeat;
}

.fastrun{
    animation: fast-animation 2s steps(13) infinite;
    background: url("catwalk.png") 0 0 no-repeat;
}

.running{
    animation: run-animation 2s steps(12) infinite;
    background: url("catwalk.png") 0 0 no-repeat;
} */
.walk-than-run{
    animation: fast-animation 2s 2s steps(13) infinite, run-animation 3s 2s steps(12) 1, walk-animation 2s steps(12) 3;
    background: url("../images/catwalk.png") 0 0 no-repeat;   
}

@keyframes walk-animation{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 0 -2391px;
    }
}

@keyframes move-animation{
    from{
        margin-left: 120%;
    }
    
    to{
        margin-left: -125%;
    }
}

@keyframes fast-animation{
    from{
        background-position: -1200px 0;
    }
    
    to{
        background-position: -1200px -2591px;
    }
}

@keyframes run-animation{
    from{
        background-position: -800px 0;
    }
    
    to{
        background-position: -800px -2391px;
    }
}

#animoo{
  position: absolute; 
  z-index: 500; 
  border: 1px solid yellow;
  height: 8vw;
  width: 9vw;
  margin-top: 20px;
  display: inline-block;
  padding:13px 29px;
  color:#334;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}

#animoo:hover{
  background-color: hsl(12, 98%, 52%);
  border-color: hsl(12, 98%, 52%);
  color:#fff;
}


#animoo img{
  height: 5vw;
  width: 5vw;
}